@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roboto';
}

:root{
    --background-color: #F8F9FA;
}

.header{
    background-color: var(--background-color);
}

.header a{
    font-weight: 600;
}

.header-content{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.navbar{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
}

.div{
    margin: 0 auto;
    padding-top: 1.8rem;
    background-color: var(--background-color);
}

.card-container{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    place-items: center;
}

@media screen and (min-width:620px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:950px) {
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1233px) {
    .card-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

.card{
    width: 19rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.7rem 0 1rem;
    background-color: var(--background-color);
}

.footer p{
    margin: 0;
    font-size: 0.766rem;
    color: #434343be;
}

@media screen and (min-width:410px) {
    .footer p{
        font-size: 0.9rem;
    }
}
